{% extends 'base.html' %}

{% block title %}plot{% endblock %}
{% block content %}
    <div class="container">
    <h1>levseq</h1>
    <form id="myform" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        Variant File: <input type="file" name="csv_file"><br>
        <input type="submit" value="Upload">
    </form>

    <div class="data" id="data" style="display: none;">
    </div>
</div>
    <div class="data" id="data-vis" style="display: none;">
        <div class="centre-horizontal">
            <div id="dropdown-top-left"></div>
            <div id="dropdown-top-right"></div>
        </div>
        <div class="centre-horizontal">
            <div id="heatmap-left"></div>
            <div id="heatmap-right"></div>
        </div>
        <div class="centre-horizontal">
            <div id="dropdown-left"></div>
            <div id="dropdown-right"></div>
        </div>
            <div id="tooltip"></div>
        </div>
        <div class="button" id=""></div>
        <div id="tooltip"></div>
        <div class="data" id="vis" style="display: none;"></div>
        <div class="data" id="data" style="display: none;"></div>
        <div class="data" id="df" style="display: none;"></div>
        <div class="data" id="columns" style="display: none;"></div>
        <div class="results">
            <h1>Dataset</h1>
            <div class="table-responsive">
                <table id="myTable" class="display">
                </table>
            </div>
        </div>
    </div>
    <script>

    const columns = {{columns | safe}};

    var div = document.getElementById("data-vis");
    div.style.display = "block"; // Change this depending on how you want the div to be displayed
    var div2 = document.getElementById("vis");
    div2.style.display = "block"; // Change this depending on how you want the div to be displayed
    var heatmap_df = {{df | safe}};

    var data = {{data | safe}};

    new DataTable('#myTable', {
        columns: data.columns,
        data: data.rows,
        dom: 'Bfrtip',
        buttons: ['csv', 'excel'],
        columnDefs: [ { "defaultContent": "-", "targets": "_all" } ]
    });
    // make_heatmap(all_data, div_id, dropdown_id, colour_column, plate_id, currentPlateId
    make_heatmap(heatmap_df, '#heatmap-left', '#dropdown-left', 'Average mutation frequency', '#dropdown-top-left', '')
    make_heatmap(heatmap_df, '#heatmap-right', '#dropdown-right', 'Average mutation frequency', '#dropdown-top-right', '')

    </script>

{% endblock %}

